*.csv
data/dataset-part-1/*.html
cyberai
.idea
model_artifacts*
data
cvs.py
*.zip
.gitignore
.DS_Store
*.joblib
.ipynb_checkpoints
.vscode
node_modules
*.sql
snapshots/*.html
html_validation/training/Phish/*.html
html_validation/training/NotPhish/*.html
html_validation/validation/Phish/*.html
html_validation/validation/NotPhish/*.html